# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Dependency directories
node_modules/
package-lock.json

# PostgreSQL password
/db/password.txt

# env files
.env

.DS_Store